/* <--- Main ---> */
body, ul, li, h1, h2, a {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: fixed;
    background-color: #f63232;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    margin: auto;
}
header h1 a{
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    color: white;
}
.banner {
    position: relative;
}
.banner img {
    max-width: 100%;
}
.banner .welcome {
    background-color: #feb614;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h2 {
    font-size: 74px;
}
.banner h2 span {
    font-size: 1.3em;
}
nav {
    background-color: #f4f4f4;
    padding: 5px;
    position: sticky;
    top: 104px;
}
nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
nav li {
    width: 22%;
    display: inline-block;
    font-size: 24px;
    background-color: #feb614;
    padding: 5px;
    border-radius: 15px; 
}
nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;

}
nav li a.join {
    color: #f63232;
}
main {
    max-width: 100%;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2 {
    color: #f63232;
    font-size: 48px;
}
article p {
    line-height: 2em;
    color: #4b4b4b;
}
.images {
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
}
.images li {
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img {
    max-width: 100%;
}
section.join {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b44;
}
.join h2 {
    font-size: 36px;
}
form input {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer {
    background: #f63232;
    color: white;
    padding: 10px;
    text-align: center;
}

/* pseudo classes */

nav li:hover {
    text-decoration: underline;
    background-color: #f63232;
}
nav li:first-child:hover {
    background-color: #ffffff;
}
.images li:hover {
    position: relative;
    top: -4px;
}
form input:focus {
    border: 6px solid#feb614;
    outline: none;
}
form input:valid {
    border: 6px solid #71d300;
}
article p::first-line {
    font-weight: bold;
    font-size: 1.2em;
}
p::selection {
    background-color: #f63232;
    color: white;
}

/* responsive styles */

@media screen and (max-width: 1400px) {
    .banner .welcome h2 {
        font-size: 50px;
    }
    nav li {
        font-size: 14px;
    }
}
@media screen and (max-width: 960px) {
    .banner .welcome h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 700px) {
    .banner .welcome {
        position: relative;
        text-align: center;
        padding: 12px;
    }
    .banner .welcome br {
        display: none;
    }
    .banner .welcome h2 {
        font-size: 25px;
    }
    .banner .welcome span {
        font-size: 1em;
    }
    .images li {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}
@media screen and (max-width: 560px) {
    nav li {
        font-size: 20px;
        display: block;
        width: 99%;
        margin: 6px -2px;
    }
    header {
        position: relative;
    }
    nav {
        top: 0;
    }
}

/* <--- Contact Us ---> */

header.contact h1 {
    border-width: 6px;
    border-radius: 36px;
    font-size: 30px;
}
header.contact {
    position: relative;
    padding: 10px 0;
}
nav.contact {
    position: relative;
    top: 0px;
}
main.contact {
    margin: 50px auto;
}

/* <--- New Games ---> */

.games {
    list-style-type: none;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.games li {
    margin: 5% 5%;
    display: inline-block;
}
.games li a {
    width: 200px;
    /* height: 300px; */
    padding: 132px 0;
    background-color: #cccbcb;
    display: block;
    text-decoration: none;
    color: grey;
}
.bottom {
    text-align: center;
}
.bottom img {
    max-width: 60%;
}

/* pseudo classes */
.games li:hover {
    outline: 5px solid #feb614;
}

/* responsive styles */
@media screen and (min-width: 1200px) {
    .bottom img {
        max-width: 40%;
    }
}

@media screen and (max-width: 950px) {
    .games li a {
        width: 250px;
        padding: 170px 0;
    }
}
@media screen and (max-width: 710px) {
    .games li a {
        width: 300px;
        padding: 207px 0;
    }
}
@media screen and (max-width: 475px) {
    .games li a {
        width: 250px;
        padding: 170px 0;
    }
}
@media screen and (max-width: 350px) {
    .games li a {
        width: 180px;
        padding: 117px 0;
    }
}

/* <--- News ---> */

.news-main {
    /* margin: 40px auto; */
    margin: 40px 10px 0 40px;
    max-width: 100%;
    padding: 0;
}
.news-container .news-header {
    position: relative;
    right: 15px;
    max-width: 1100px;
    margin: 0 0 20px 0;
    padding: 0;
}
.news-container .news-header h2 {
    color: #f63232;
    font-size: 2.2em;
}
.sort {
    position: relative;
    float: right;
    font-weight: bold;
    bottom: 32px;
}
.sort select {
    border: 4px solid #feb614;
    background-color: #feb614;
    border-radius: 5px;
    color: #ffffff;
    width: 115px;
    height: 30px;
}
.news-container {
    float: left;
    width: 75%;
}
.news-container article {
    margin: 0 0 40px 0;
}
.news-container div {
    padding: 6px;
}
.news-container article h3 {
    margin: 0;
    font-size: 1.6em;
    color: #f63232;
}
.news-container article p {
    line-height: 1.4em;
    margin: 8px;
    font-size: 1em;
}
.news-container article img {
    float: left;
    width: 20px;
    height: 20px;
    padding: 60px 100px;
    background-color: #cccbcb;
    margin: 0 10px 0 0;
}
.news-container div a {
    text-decoration: none;
    color: #f63232;
}
.news-container .date {
    float: right;
    font-size: 0.9em;
    color: #cccbcb;
}
.social {
    text-align: center;
    float: left;
    width: 22%;
    position: sticky;
    top: 20px;
    background-color: #cccbcb;
    padding: 300px 0;
    margin: 0 0 0 20px;
}
.news-main:after {
    content: "";
    display: table;
    clear: both;
}

/* pseudo classes */

.news-container div a:hover {
    text-decoration: underline;
}

/* responsive styles */

@media screen and (max-width: 1060px) {
    .social {
        position: static;
        float: none;
        width: 70%;
        top: 0px;
        margin: 20px auto;
    }
    .news-container {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 850px) {
    .news-container article img {
        float: none;
    }
    .news-container article:first-of-type img {
        position: relative;
        left: 90px;
    }
    .news-container article {
        text-align: center;
        margin: 0 0 60px 0;
    }
    .social {
        width: 80%;
    }
    .news-container .news-header {
        right: 0;
    }
    .news-main {
        margin: 0 20px;
    }
}
@media screen and (max-width: 650px) {
    .news-main {
        margin: 40px auto;
    }
}
@media screen and (max-width: 500px) {
    .news-container article img {
        padding: 70px 120px;
    }
    .social {
        width: 90%;
    }
}
@media screen and (max-width: 450px) {
    .news-container article:first-of-type img {
        position: static;
    }
}
@media screen and (max-width: 400px) {
    .sort {
        float: none;
        bottom: 0;
        margin: 5px 0 0 0;
    }
    .social {
        width: 95%;
    }
}
@media screen and (max-width: 310px) {
    .news-container article img {
        padding: 50px 100px;
    }
}

/* <--- Game info page ---> */

main.game {
    margin: 0;
    padding: 0 0 3rem 0;
}
body {
    position: relative;
    min-height: 100vh;
}
main.game .game-header .game-banner {
    width: 100%;
    height: 400px;
    background-color: #cccbcb;
    text-align: center;
}
main.game .game-header .game-banner .banner {
    position: relative;
    top: 50%;
}
main.game .game-header .game-banner .game-poster {
    text-align: left;
    position: relative;
    top: 10%;
    left: 75px;
    width: 190px;
    height: 70%;
    margin: auto 0;
    background-color: #a5a5a5;
    box-shadow: 4px 4px 5px #464646;
}
main.game .game-header .game-poster .poster {
    position: relative;
    top: 45%;
}
main.game .tabs {
    text-align: center;
    background-color: #f4f4f4;
    padding: 4px;
}
main.game .tabs button {
    color: #ffffff;
    background-color: #feb614;
    border-radius: 36px;
    border: none;
    width: 26%;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.tabcontent {
    background-color: #f4f4f4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    padding: 20px 12px;
    margin: 0 auto 10px auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.5em;
}
.tabcontent h2 {
    color: #f63232;
    font-size: 2em;
    padding: 10px;
}
.tabcontent img {
    background-color: #cccbcb;
    padding: 200px 300px;
    margin: 5px;
}
.game-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    padding: 5px 0;
}
img {
    color: #4b4b4b;
}

/* pseudo classes */

main.game .tabs button.active {
    background-color: #f63232;
}
main.game .tabs button:hover {
    text-decoration: underline;
}

/* responsive styles */

@media screen and (max-width: 800px) {
    main.game .game-header .game-banner .game-poster {
        margin: auto;
        left: 0;
        width: 210px;
        height: 80%;
    }
    main.game .game-header .game-banner .banner {
        display: none;
    }
    main.game .tabs button {
        width: 30%;
    }
}
@media screen and (max-width: 770px) {
    .tabcontent img {
        padding: 166px 250px;
    }
}
@media screen and (max-width: 650px) {
    main.game .tabs button {
        display: block;
        width: 100%;
        margin: 6px auto;
        padding: 6px;
        
    }
    main.game .tabs button:last-of-type {
        margin-bottom: 0;
    }
    .tabcontent img {
        padding: 139px 200px;
    }

}
@media screen and (max-width: 540px) {
    .tabcontent img {
        padding: 122px 170px;
    }
    .tabcontent {
        padding: 10px 8px;
    }
}
@media screen and (max-width: 470px) {
    .tabcontent img {
        padding: 80px 100px;
    }
}
@media screen and (max-width: 340px) {
    .tabcontent img {
        padding: 69px 80px;
    }
}